.header
{
	width: 500px; 
	font-size: 16; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}

.wrapper
{
	width: 500px; 
	font-size: 12; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin: 0px;
	padding: 0px;
}

.hr
{
	width: 500px;
	height: 1px; 
	background: #ccc;
	margin: 0px;
	padding: 0px;
}

.tab
{
	display:inline;
	padding: 5px;
}

.tab_selected
{
	display:inline;
	background: #ccc;
	padding: 5px;
	margin: 0px;
}

.tabs
{
	font-size: 12; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

.rating_table 
{ 
	width: 200px; 
	background: white;
	padding: 5px;
	padding-right: 20px; 
	font-size: 12; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;

    border: 1px;
	border-style: solid;
	border-collapse: collapse;
	background-color: white;
	border-color: black;

}

.table_red
{ 
	background: white;
	font-size: 11; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: red;
	border-width: 1px;
	border-style: inset;
}

.table_black
{ 
	background: white;
	font-size: 11; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: black;
	border-width: 1px;
	border-style: inset;

}
